@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

@layer base {
  :root {
    --transparent: rgba(0, 0, 0, 0);
    --white: #ffffff;
    --black: #000000;
    --lightGrey: #cfd9e2;
    --lighterGrey: #e6ebef;
    --lightBlue: #3553ff;
    --darkGrey: #1d1d1d;
    --blue: #3050c4;
    --orange: #ff7e1c;
    --sky: #c3ccff;
    --primaryColorDisabled: #c54404;
    --primary3: #010101;
    --primary4: #fe990d;
    --primary4Disabled: #b36800;
    --primary5: #ffad0d;
    --blue5: #4453e2;
    --grey0: #3a3c51;
    --grey1: #61637a;
    --grey2: #9292a0;
    --grey3: #aeaeb8;
    --grey4: #e2e2e4;
    --grey5: #f2f2f4;
    --loaderForeground: #ecebeb;
    --loaderBackground: #f3f3f3;
    --green: #00a700;
    --error: #dc2626;
    --error9: #fee2e2;
    --warning: #f59e0b;

    /* theme */
    --primary: #ffad0d;
    --secondary: #5c5c5c;

    --background: #101010;

    --primary-foreground: #1f1f1f;
    --secondary-foreground: #3a3a3a;

    --text-primary: #ffffff;
    --text-secondary: #949494;

    --button-text-primary: #000000;
    --button-text-secondary: #ffffff;

    --input-text-primary: #424141;

    --border-color: #424141;
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
}

.tabsTrigger[data-state='active'] {
  border-bottom: #ffffff 2px solid;
}
