# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
- package-ecosystem: "cargo"
  directory: "/"
  schedule:
    interval: "daily"
  groups:
    production-dependencies:
      dependency-type: "production"
    dev-dependencies:
      dependency-type: "development"

- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: "daily"
  groups:
    production-dependencies:
      dependency-type: "production"
    dev-dependencies:
      dependency-type: "development"
  ignore:
    - dependency-name: "react"
    - dependency-name: "@types/react"
    - dependency-name: "react-dom"
    - dependency-name: "@types/react-dom"
    - dependency-name: "next"
    - dependency-name: "tailwindcss"
    - dependency-name: "eslint"
    - dependency-name: "@types/node"
    - dependency-name: "@typescript-eslint/eslint-plugin"
