dotenv

use flake

export TF_VAR_name_prefix="${USER}"
export DATAFORM_BRANCH="${TF_VAR_name_prefix}-dataform"
export DATAFORM_SCHEMA_SUFFIX=${TF_VAR_name_prefix}
export DATAFORM_VARS="executionEnv=lana-dev,devUser=${TF_VAR_name_prefix}"
export SA_CREDS_BASE64="${TF_VAR_sa_creds}"
export DEV_ENV_NAME_PREFIX="${TF_VAR_name_prefix}"

export TARGET_BIGQUERY_CREDENTIALS_JSON="$(echo $TF_VAR_sa_creds | base64 -d)"
export TARGET_BIGQUERY_DATASET="${USER}_dataset"
export TARGET_BIGQUERY_LOCATION="US"
export DBT_BIGQUERY_DATASET="dbt_${USER}"
export DBT_BIGQUERY_KEYFILE="/lana/keyfile.json"
echo $TARGET_BIGQUERY_CREDENTIALS_JSON > meltano/keyfile.json
export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/meltano/keyfile.json"
