dotenv

use flake

export TF_VAR_name_prefix="${USER}"
export DATAFORM_BRANCH="${TF_VAR_name_prefix}-dataform"
export DATAFORM_SCHEMA_SUFFIX=${USER}
export DATAFORM_VARS="executionEnv=volcano-dev,devUser=${USER}"
