dotenv

use flake

export TF_VAR_name_prefix="${USER}"
export DATAFORM_BRANCH="${TF_VAR_name_prefix}-dataform"
export DATAFORM_SCHEMA_SUFFIX=${TF_VAR_name_prefix}
export DATAFORM_VARS="executionEnv=lana-dev,devUser=${TF_VAR_name_prefix}"
export SA_CREDS_BASE64="${TF_VAR_sa_creds}"
export DEV_ENV_NAME_PREFIX="${TF_VAR_name_prefix}"
